// palette colors
$white-color:          rgb(255, 255, 255);
$white-smoke-1-color:  rgb(246, 247, 250);
$white-smoke-2-color:  rgb(248, 248, 248);
$white-milk-color:     rgb(245, 241, 238);
$gren-color:           rgb(31, 174, 150);
$ultraMarine-color:    rgb(63, 58, 100);
$green-color:          rgb(255, 255, 255);
$blu-berry-color:      rgb(140, 137, 162);
